@font-face {
    font-family: 'Brice';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/brice-light.eot');
    src: url('../fonts/brice-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/brice-light.woff2') format('woff2'),
    url('../fonts/brice-light.woff') format('woff'),
    url('../fonts/brice-light.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background-color: white;
}

main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(60px, 150px) 1fr minmax(60px, 150px);
    grid-template-columns: minmax(60px, 150px) 1fr minmax(60px, 150px);
}

#header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    margin-bottom: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: inherit;
    grid-template-columns: inherit;
}

#header_main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

#menu_logo {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 5px);
    -ms-transform: rotate(-45deg) translate(-3px, 5px);
    transform: rotate(-45deg) translate(-3px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    -ms-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
}

hr {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    border: 0;
    border-top: 1px solid black;
}

.menu {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    border-bottom: 1px solid black;
    display: none;
    opacity: 0;
}

.show_menu {
    display: block;
    opacity: 1;
    -webkit-animation: fade 0.8s;
    animation: fade 0.8s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

#startNewGame {
    color: black;
    font: normal 300 18px/25px Brice, sans-serif;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

#nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    width: 263px;
    border: 1px black;
    border-style: none solid;
    font: normal 300 18px/25px Brice, sans-serif;
    text-align: center;
    color: black;
}

label[for="difficultyRange"] {
    margin-right: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 120px;
    height: 12px;
    border: 1px solid black;
    border-radius: unset;
    background: white;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: black;
    border: 1px solid black;
    cursor: pointer;
}

#header_logo {
    margin: 0 auto;
}

#main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
}

.memory_cards {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.memory_card {
    position: relative;
    width: 204px;
    height: 271px;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.memory_card.is_flipped {
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    transform: translateX(-100%) rotateY(-180deg);
}

.memory_card_front, .memory_card_back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.memory_card_front img, .memory_card_back img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
}

.memory_card_back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    height: 80px;
    border-top: 1px solid black;
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: inherit;
    grid-template-columns: inherit;
}

#copyrights_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
}

.copyrights {
    font: normal 300 16px/22px Brice, sans-serif;
    color: black;
}

@media (max-width: 1199.98px) {
    main {
        -ms-grid-columns: minmax(30px, 90px) 1fr minmax(30px, 90px);
        grid-template-columns: minmax(30px, 90px) 1fr minmax(30px, 90px);
    }

    #header_main, #footer {
        height: 73px;
    }

    #header_logo {
        width: 128px;
        height: 31px;
    }

    .bar1, .bar2, .bar3 {
        width: 25px;
    }

    #nav li {
        width: calc(25% - 60px);
        font-size: 16px;
        line-height: 22px;
    }

    .slider {
        width: 80px;
    }

    .memory_card {
        width: 156px;
        height: 208px;
    }
}

@media (max-width: 991.98px) {
    main {
        -ms-grid-columns: minmax(15px, 30px) 1fr minmax(15px, 30px);
        grid-template-columns: minmax(15px, 30px) 1fr minmax(15px, 30px);
    }

    #nav li {
        width: calc(50% - 60px);
    }

    #nav li:nth-child(-n + 2) {
        border-bottom: 1px solid black;
    }

    .slider {
        width: 100px;
    }

    .memory_cards {
        gap: 25px;
    }

    .memory_card {
        width: 151px;
        height: 201px;
    }

    .memory_card_front img, .memory_card_back img {
        border-radius: 10px;
    }
}

@media (max-width: 767.98px) {
    #nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    #nav li {
        width: 100%;
        border-right: none;
    }

    #nav li:not(:last-child) {
        border-bottom: 1px solid black;
    }

    .memory_cards {
        gap: 20px;
    }

    .copyrights {
        font-size: 14px;
        line-height: 19px;
    }
}

@media (max-width: 575.98px) {
    #header_main, #footer {
        height: 68px;
    }

    #header_logo {
        width: 100px;
        height: 24px;
    }

    .bar1, .bar2, .bar3 {
        width: 23px;
        margin: 4px 0;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-3px, 2px);
        -ms-transform: rotate(-45deg) translate(-3px, 2px);
        transform: rotate(-45deg) translate(-3px, 2px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -7px);
        -ms-transform: rotate(45deg) translate(-8px, -7px);
        transform: rotate(45deg) translate(-8px, -7px);
    }

    .memory_cards {
        gap: 15px;
    }

    .memory_card {
        width: 131px;
        height: 176px;
    }
}